@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');

@font-face {
  font-family: 'Helvetica-neue';
  src: url("./assets/fonts/HelveticaNeueLTStdBd.woff") format('truetype');
  font-style: normal;
  font-weight: normal;
}

body{
  margin: 0;
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/*font-family: 'Heebo', sans-serif;*/