@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');

@font-face {
  font-family: 'Helvetica-neue';
  src: url("./assets/fonts/HelveticaNeueLTStdBd.woff") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DagnyWeb';
  src: url("./assets/fonts/DagnyWeb_W03_Bold.woff") format('truetype');
  font-style: normal;
  font-weight: normal;
}

body{
  margin: 0;
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/*font-family: 'Heebo', sans-serif;*/

/********************************************** boton flotante whatsapp *********************************************/

/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whatsapp_float > *{
  width: 70%;
  height: 70%;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
}